<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Phone.mapper.PhoneMapper">

    <insert id="createPhoneType">
        INSERT INTO phone_type ( number_part, type_name,type_remark)
        VALUES ( #{number_part}, #{type_name},#{type_remark})
    </insert>
    <update id="updatePhoneType">
        UPDATE phone_type
        SET
            number_part = #{number_part},
            type_name = #{type_name},
            type_remark = #{type_remark}
        WHERE type_id = #{type_id}
    </update>
    <delete id="deletePhoneType">
        DELETE FROM phone_type
        WHERE type_id = #{id}
    </delete>

    <select id="getAllPhoneTypes" resultType="Phone.pojo.phone_type">
        SELECT * FROM phone_type
    </select>

    <select id="getPhoneTypeById" resultType="Phone.pojo.phone_type">
        SELECT * FROM phone_type
        WHERE type_id = #{id}
    </select>


</mapper>
